#{extends 'main.html'/}

<form action="@{LoginController.login()}" method="GET" class="form-horizontal">
<div class="control-group">
    <label class="control-label" for="inputEmail"></label>
    <div class="controls">
      <input type="text" id="id" class="center-block" placeholder="id">
    </div>
  </div>

 <div class="control-group">
    <label class="control-label" for="inputPassword"></label>
    <div class="controls">
      <input type="password" id="pass" class="center-block" placeholder="Password">
    </div>
  </div>
<br>

 <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-primary center-block"><i class="glyphicon glyphicon-ok"></i>Sign in</button>

    </div>
  </div>


<pre>
  &lt&gt;Sample text here...&lt;&gt;
</pre>

For example, <code>&lt;section&gt;</code> should be wrapped as inline.

</form>