<!DOCTYPE html>
<link rel="stylesheet" media="screen,print" href="@{'/public/javascripts/bootstrap-3.3.2/dist/css/bootstrap.min.css'}">
<link rel="stylesheet" media="screen,print" href="@{'/public/javascripts/bootstrap-3.3.2/dist/css/bootstrap.css'}">
<link rel="stylesheet" media="screen,print" href="@{'/public/javascripts/bootstrap-3.3.2/dist/js/bootstrap.js'}">
<link rel="stylesheet" media="screen,print" href="@{'/public/javascripts/bootstrap-3.3.2/dist/js/bootstrap.min.js'}">



#{doLayout /}
